@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-title-border: #746615;
    --primary-card-border-color: #f7dd43;
    --card-bg-color: #1D1C19;
    --bg-svg: url(/assets/background-yellow.svg);
}

body.blue {
    --primary-title-border: #338AF3;
    --primary-card-border-color: #338AF3;
    --card-bg-color: #202024;
    --bg-svg: url(/assets/background-blue.svg);
}

body.green {
    --primary-title-border: #047C3F;
    --primary-card-border-color: #047C3F;
    --card-bg-color: #1A1F1B;
    --bg-svg: url(/assets/background-green.svg);
}


body {
    background: #121214;
    background-image: var(--bg-svg);
    background-position: center 55%;
}

div#app {
    width: fit-content;
    margin: 52px auto;
}
header {
    margin-bottom: 63px;
    text-align: center;
}

main .card {
    border: 1px solid black;
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--primary-card-border-color);
    border-radius: 6px;
    margin-bottom: 9px;
    width: fit-content;
}

.card h2 {
    border: 1px solid var(--primary-title-border);
    border-radius: 6px;
    color: #f7dd43;
    padding: 8px 16px;
    margin-bottom: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.card h2 span {
    color: #E1E1E6;
    font-size: 14px;
    font-weight: bold;
}
.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li + li { /*Seletor que seleciona um li que possua um outro elemento li anterior a ele  */
    padding-top: 24px;
    border-top: 1px solid #323328;
}
ul li strong {
    font-size: 34px;
    font-weight: 900;
    color: #E1E1E6;
    line-height: 125%;
    margin: 0 16px;
}

.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}
.card {
    animation: arrive 0.5s forwards;
}

/* ANIMATION */
@keyframes arrive {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Querie */

@media (min-width: 700px) {
    #cards {
        display: flex;
        flex-direction: row;
        gap: 32px;
        max-width: 670px;
        flex-wrap: wrap;
    }
}